langchain
ipykernel
python-dotenv
langchain-community
langchain-docling
langchain-faiss
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
faiss-cpu
sentence-transformers
langchain-huggingface
langchain_chroma
langchain-openai
streamlit
langchain-groq
uvicorn
fastapi
langserve